
    .parent{
      background-color: #d6bdf7;
      background-image: url('../../images/homepagebackground.jpg'); 
      background-size: cover; /* Resmi kapsayıcıya sığdırır */
      background-position: center; /* Resmi ortalar */
      background-repeat: no-repeat; /* Resmi tekrar etmez */
    }
    .container {
    margin-top: 20vh; 

    }
    .textcenter{
    justify-content: center;
    text-align: center;
    }
  .header{
    top:0;
    left:0;
    width: 100%;
    padding: 1.3rem, 10%;
    background-color:rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 100;
  }

  .textcenter h1 {
    margin-top: 150px;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  
  .subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  
  .signInButton, .signUpButton {
    padding: 0.75rem 1.5rem; /* Buton içindeki boşlukları artırır */
    font-size: 1rem; /* Yazı boyutunu artırır */
    border: none;
    border-radius: 0.5rem; /* Köşeleri yuvarlatır */
    font-weight: 600; /* Yazıyı kalın yapar */
    cursor: pointer; /* Fare ile üzerine gelindiğinde işaretçi değişir */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Geçiş efektleri */
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    
  }
  
  .signInButton {
    background-color: #FDC8C4;
    color: #ffffff;
    border-radius: 5%;
    border: 5px solid #ffffff;
    border-color: #ffffff;
  }
  
  .signInButton:hover {
    background-color: #CDEDE7;
    transform: scale(1.05); /* Hover'da butonu büyütür */
  }
  
  .signUpButton {
    background-color: #FDC8C4;
    color: #ffffff;
    border-radius: 5%;
    border: 5px solid #ffffff;
    border-color: #ffffff;
  }
  
  .signUpButton:hover {
    background-color: #CDEDE7;
    transform: scale(1.05); /* Hover'da butonu büyütür */
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* İki sütun oluşturur */
    grid-template-rows: repeat(2, 1fr); /* İki satır oluşturur */
    gap: 10rem; /* Dikdörtgenler arasındaki boşluk */
    width: 2000px;
    

  }
  
  .horizontalRectangle1 {
    background-color:transparent; /* Dikdörtgenlerin arka plan rengi */
    backdrop-filter: blur(20px);
    width: 100%; /* Genişlik */
    height: 500px; /* Yükseklik */
    border-radius: 5%;
    border: 10px solid #000000;
    border-color: #F99C90;
    margin-left: 70px;
  }

  .horizontalRectangle1 ul{
    font-family: monospace;
    font-size: 25px;
  }
  
  .horizontalRectangle2 {
    background-color:transparent; /* Dikdörtgenlerin arka plan rengi */
    backdrop-filter: blur(20px);
    width: 100%; /* Genişlik */
    height: 500px; /* Yükseklik */
    border-radius: 5%;
    margin-right: 70px;
    margin-left: 150px;
    border: 10px solid #000000;
    border-color: #99F7E5;

  }
  
  .horizontalRectangle2 ul{
    font-family: monospace;
    font-size: 25px;
  }