.parent {
  display: flex;
  justify-content: center; /* Yatayda ortalama */
  align-items: center; /* Dikeyde ortalama */
  height: 100vh; /* Ebeveyn elemanın yüksekliği tüm ekranı kaplasın */
  background-image: url('../../images/backgroundvazo.jpg'); /* Arka plan resmi */
  background-size: cover; /* Resmi kapsayıcıya sığdırır */
  background-position: center; /* Resmi ortalar */
  background-repeat: no-repeat; /* Resmi tekrar etmez */
}

.formContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .inputField {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #B79BCC;
    color: white;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.875em;
  }
  